{% macro tr_kv(key, value, type='') -%}
<tr>
  <td>{{ key }}</td>
  <td>
  {% if type == 'codeblock' %}
    {% if value %}
      <pre class="code-font"><code>{{ value }}</code></pre>
    {% else %}
      -
    {% endif %}
  {% elif type == 'code' %}
    <span class="code-font">{{ value }}</span>
  {% elif type == 'time' %}
    {{ value|iso_time }}
  {% elif type == 'time_relative' %}
    {{ value|iso_time }} (<b>{{ relative_to_now(value) }}</b>)
  {% else %}
    {{ value }}
  {% endif %}
  </td>
</tr>
{%- endmacro %}

{% macro input_group(label, name, object, value_key=None, required=False, cols=12, label_cols=3) -%}
<div class="form-group">
  <div class="col-{{ label_cols }} col-sm-{{ cols }}">
    <label class="form-label" for="input-{{ name }}">{{ label }}</label>
  </div>
  <div class="col-{{ cols - label_cols }} col-sm-{{ cols }}" style="display: flex; align-items: center;">
    {% if caller %}
      {{ caller(name) }}
    {% else %}
      {% set value_key = value_key or name %}
      <input
        class="form-input" type="text"
        name="{{ name }}" id="input-{{ name }}"
        value="{{ object[value_key]|default('') }}"
        {% if required %}required{% endif %}
      >
    {% endif %}
  </div>
</div>
{%- endmacro %}

{% macro compact_input(label, name, object, value_key) -%}
<div class="input-group">
  <span class="input-group-addon">{{ label }}</span>
  <input class="form-input {{ ternary(object[value_key], 'bg-secondary', '') }}" type="text" name="{{ name }}" value="{{ object[value_key]|default('') }}">
</div>
{%- endmacro %}
