{% macro tr_kv(key, value, type='') -%}
<tr>
  <td>{{ key }}</td>
  <td>
  {% if type == 'codeblock' %}
    {% if value %}
      <pre class="code-font"><code>{{ value }}</code></pre>
    {% else %}
      -
    {% endif %}
  {% elif type == 'code' %}
    <span class="code-font">{{ value }}</span>
  {% elif type == 'time' %}
    {{ value|iso_time }}
  {% elif type == 'time_relative' %}
    {{ value|iso_time }} (<b>{{ relative_to_now(value) }}</b>)
  {% else %}
    {{ value }}
  {% endif %}
  </td>
</tr>
{%- endmacro %}
