{% load static %}
<script src="{% static "lib/d3.min.js" %}"></script>
<script src="{% static "lib/event-drops@1.2.0.min.js" %}"></script>
<script src="{% static "event-drops-utils.js" %}"></script>
<script>
  (function() {
    var chart_el = document.getElementById('event-drops-chart');

    TAKO.fetchExecutionsTsdata().then(data => {
      document.querySelectorAll('.loading').forEach(function(e) {
        e.remove();
      });
      TAKO.draw_event_drops(chart_el, data, {left: -60, right: 10, bottom: 0});
      chart_el.removeAttribute('style');
    })
  })();
</script>
