<table class="table">
{% if object_list %}
  <thead>
    <th style="width: 5em;">ID</th>
    <th>Job / Task</th>
    <th style="width: 6em;">Status</th>
    <th style="width: 5em;">Duration</th>
    <th style="width: 15em;">Run time</th>
    <th style="width: 15em;">Next run time</th>
    <th style="width: 5em;">Actions</th>
  </thead>
{% endif %}
  <tbody>
  {% for obj in object_list %}
    <tr>
      <td><a href="{{ url('executions_detail', obj.id) }}" class="number-font">{{ obj.id }}</a></td>
      <td>
        {% set aps_job = obj.job.aps_job() %}
        <code>{{ aps_job.name }} | {{ aps_job.trigger }} </code>

        <a href="{{ url('jobs_detail', obj.job.id) }}" title="job executions">
          <span class="chip">Job</span>
        </a>
        {% if obj.job.task %}
          <a href="{{ url('tasks_detail', obj.job.task.id) }}">
            <span class="chip">Task</span>
          </a>
        {% endif %}
      </td>
      <td><span class="label {{ obj.status|spectre_label_class }}">{{ obj.status }}</span></td>
      <td><span class="number-font">{{ obj.duration|duration }}</span></td>
      <td>
        <span class="number-font">{{ obj.run_time|iso_time }}</span>
      </td>
      <td><span class="number-font">{{ obj.job.next_run_time|iso_time }}</span></td>
      <td>
        <div style="display: flex; gap: 16px;">
          <button
            class="btn btn-sm tooltip tooltip-left btn-filter-job"
            {% if nav_executions %}data-nav-executions="true"{% endif %}
            data-tooltip="Filter executions by this job"
            data-job-id="{{obj.job.id}}"
          >
            <i class="icon icon-flag"></i>
          </button>

          {% if request.user.is_superuser %}
          <button
            class="btn btn-sm tooltip tooltip-left btn-execute-job"
            data-tooltip="Execute job now"
            data-job-id="{{obj.job.id}}"
          >
            <i class="icon icon-refresh"></i>
          </button>

          {% if False %}
            <button class="btn btn-sm btn-cancel-job" data-job-id="{{obj.id}}">
              <i class="icon icon-minus"></i>
            </button>
          {% endif %}
          {% endif %}
        </div>
      </td>
      </td>
    </tr>

  {% else %}
    <tr>No executions yet.</tr>
  {% endfor %}
  </tbody>
</table>
