{% load tako_filters %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  {% load static %}
  <link rel="stylesheet" href="{% static "spectre.min.css" %}">
  <link rel="stylesheet" href="{% static "spectre.icons.min.css" %}">
  <link rel="stylesheet" href="/static/base.css">
  <script>
    const TAKO = {
      setSearchParams: function(params) {
        const paramsStr = params.toString()
        window.location = window.location.pathname + (paramsStr ? '?' + paramsStr : '')
      }
    }
  </script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="header-bar">
    <a href="{% url 'dashboard' %}">dashboard</a>
    <a href="/admin/tako/">admin</a>
  </div>

  <div class="main">
  {% block main %}
  {% endblock %}
  </div>
  {% block body_end %}
  {% endblock %}
</body>
</html>
