{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block main %}
  <h1>Dashboard</h1>
  <p>Now: <span class="number-font">{{ now|iso_time }}</span></p>

  <section>
    <div id="event-drops-chart" class="event-drops-container" style="height: 170px;">
      <div class="loading loading-lg" style="position: relative; top: 40px;"></div>
    </div>
  </section>

  <section>
    <h2>Executions
      <a class="sublink" href="{{ url('executions') }}">more</a>
    </h2>

    {% with %}
      {% set object_list = all_list %}
      {% set nav_executions = True %}
      {% include "_executions_table.html" %}
    {% endwith %}
  </section>

  <section>
    <h2>Executions [SUCCESS]
      <a class="sublink" href="{{ url('executions') }}?{{ encode_params_with_page(status_params('SUCCESS')) }}">more</a>
    </h2>
    {% with %}
      {% set object_list = success_list %}
      {% set nav_executions = True %}
      {% include "_executions_table.html" %}
    {% endwith %}
  </section>

  <section>
    <h2>Executions [Other statuses]
      <a class="sublink" href="{{ url('executions') }}?{{ encode_params_with_page(status_params('SUCCESS', True)) }}">more</a>
    </h2>
    {% with %}
      {% set object_list = error_list %}
      {% set nav_executions = True %}
      {% include "_executions_table.html" %}
    {% endwith %}
  </section>
{% endblock %}

{% block body_end %}
  {% include "_event_drops.html" %}
{% endblock %}
