{% extends "base.html" %}
{% load static %}
{% load tako_filters %}

{% block head %}
{% endblock %}

{% block main %}
  <h1>Dashboard</h1>
  <p>Now: <span class="number-font">{{ now|iso_time }}</span></p>

  <section>
    <div id="event-drops-chart" class="event-drops-container" style="height: 170px;">
      <div class="loading loading-lg" style="position: relative; top: 40px;"></div>
    </div>
  </section>

  <section>
    <h2>Executions
      <a class="sublink" href="{% url 'executions' %}">more</a>
    </h2>

    {% include "_executions_table.html" with object_list=all_list nav_executions=True %}
  </section>

  <section>
    <h2>Executions [SUCCESS]
      <a class="sublink" href="{% url 'executions' %}?{{ 'SUCCESS'|status_params|encode_params_with_page }}">more</a>
    </h2>
    {% include "_executions_table.html" with object_list=success_list nav_executions=True %}
  </section>

  <section>
    <h2>Executions [Other statuses]
      <a class="sublink" href="{% url 'executions' %}?{{ 'SUCCESS'|status_params:True|encode_params_with_page }}">more</a>
    </h2>
    {% include "_executions_table.html" with object_list=error_list nav_executions=True %}
  </section>
{% endblock %}

{% block body_end %}
  {% include "_event_drops.html" %}
{% endblock %}
