{% extends "base.html" %}
{% load tako_filters %}

{% block head %}
<style>
  table {
    font-size: 15px;
  }
  td > pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: .9em;
    margin: 0;
  }
  section.container {
    margin-bottom: .8em;
  }
</style>
{% endblock %}

{% block main %}
  <h1>Executions</h1>

  <section class="container">
      <div class="" style="border-right: 2px solid #eee">
        <div>Arguments: <code>{{ params }}</code></div>
      </div>

      <div class="">
        <div id="event-drops-chart" class="event-drops-container">
          <div class="loading loading-lg" style="position: relative; top: 10px;"></div>
        </div>
      </div>

      <div>
        <div class="btn-group filter-status">
        {% for status in DjangoJobExecution.STATUSES %}
          <button class="btn btn-sm {% if status in params_statuses %}active{% endif %}">{{ status }}</button>
        {% endfor %}
        </div>
      </div>
  </section>

  <section id="executions-main">
    {% include "execution_table.html" with executions=object_list %}

    <div>
      {% url 'executions' as executions_url %}
      <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="{{ executions_url }}?{{ params|encode_params_with_page:page_obj.previous_page_number }}">Previous</a>
      {% else %}
        <li class="page-item disabled">
          <a href="#" tabindex="-1">Previous</a>
      {% endif %}
        </li>

      {% for i in page_range %}
      {% if i == page_obj.number %}
        <li class="page-item active">
      {% else %}
        <li class="page-item">
      {% endif %}
        {% if i == page_ellipsis %}
          <span>...</span>
        {% else %}
          <a href="{{ executions_url }}?{{ params|encode_params_with_page:i }}">{{ i }}</a>
        {% endif %}
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a href="{{ executions_url }}?{{ params|encode_params_with_page:page_obj.next_page_number }}">Next</a>
      {% else %}
        <li class="page-item disabled">
          <a href="#" tabindex="-1">Next</a>
      {% endif %}
        </li>
      </ul>
    </div>

  </section>
{% endblock %}

{% block body_end %}
  <script src="/static/pjax-standalone.min.js"></script>
  <script src="/static/d3.min.js"></script>
  <script src="/static/event-drops@1.2.0.min.js"></script>
  <script src="/static/event-drops-utils.js"></script>
  <script>
    (function() {
      // pjax
      var pjax = new Pjax({
        elements: '.pagination a',
        selectors: ['#executions-main'],
        // cacheBust: false,
      });

      // status filter
      const executionsUrl = '{% url "executions" %}';
      document.querySelector('.filter-status').addEventListener('click', function(e) {
        if (e.target.tagName === 'BUTTON') {
          const status = e.target.textContent;
          const params = new URLSearchParams(window.location.search);

          // toggle status from params
          const paramsStatus = params.getAll('status')
          if (paramsStatus.includes(status)) {
            params.delete('status', status)
          } else {
            params.append('status', status)
          }
          const paramsStr = params.toString()
          window.location = executionsUrl + (paramsStr ? '?' + paramsStr : '')
        }
      });

      // event drops
      var chart_el = document.getElementById('event-drops-chart');
      fetch('{% url "api_executions_tsdata" %}' + window.location.search)
        .then(function(resp) {
          return resp.json();
        }).then(function(data) {
          document.querySelectorAll('.loading').forEach(function(e) {
            e.remove();
          });
          draw_event_drops(chart_el, data, {left: -60, right: 10, bottom: 0})
        });
    })();
  </script>
{% endblock %}
