{% extends "base.html" %}

{% block head %}
{% endblock %}

{% import "_detail_macros.html" as macros %}
{% block main %}
  <h1>Execution Detail</h1>

  <section>
    <h2>Info</h2>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 10em;">Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
      {{ macros.tr_kv('ID', object.id, type='code') }}
      <tr>
        <td>Status</td>
        <td>
          <span class="label {{ object.status|spectre_label_class }} tooltip tooltip-right"
           data-tooltip="{{ object.status }}">
            {{ object.status }}</span>
        </td>
      </tr>
      <tr>
        <td>Job</td>
        <td>
          <a href="{{ url('jobs_detail', object.job_id) }}" >{{ object.job_id}}</a>
        </td>
      </tr>
      {{ macros.tr_kv('Run time', iso_time(object.run_time)) }}
      {{ macros.tr_kv('Duration', duration(object.duration), type='code') }}
      {{ macros.tr_kv('Return code', object.returncode, type='code') }}
      {{ macros.tr_kv('Env', object.env, type='codeblock') }}
      </tbody>
    </table>

    <div class="detail-actions">
      <button
        class="btn btn-primary btn-execute-job"
        data-job-id="{{object.job.id}}"
      >
        Re-run Job
      </button>
    </div>
  </section>

  {% if object.traceback %}
  <section>
    <h2>Traceback</h2>
    <pre class="code"><code>{{ object.traceback }}</code></pre>
  </section>
  {% endif %}

  <section>
    <h2>STDOUT</h2>
    <pre class="code"><code>{{ object.stdout }}</code></pre>
  </section>

  <section>
    <h2>STDERR</h2>
    <pre class="code"><code>{{ object.stderr }}</code></pre>
  </section>
{% endblock %}

{% block body_end %}
  <script>
    // execute task
    (function() {
      var executeBtns = document.getElementsByClassName('btn-execute');
      [].slice.call(executeBtns).forEach(function(x) {
        x.addEventListener('mouseup', function(e) {
          var dom = e.target;
          var taskid = Number(dom.dataset.taskId);
          if (!confirm("Are you sure to execute task " + taskid + ' ?')) {
            return
          }
          fetch('/api/task/execute', {
            method: 'POST',
            body: JSON.stringify({
              task_id: taskid,
            }),
            headers: {
              'Content-Type': 'application/json'
            },
          }).then(function(res) {
            console.log(res.json());
            location.reload();
          }).catch(function(err) {
            console.error(err);
          })
        })
      })
    })();
  </script>
{% endblock %}
