{% extends "base.html" %}
{% load tako_filters %}
{% load static %}

{% block head %}
{% endblock %}

{% block main %}
<h1>Executions</h1>

<section class="container">
  <div id="event-drops-chart" class="event-drops-container">
    <div class="loading loading-lg" style="position: relative; top: 10px;"></div>
  </div>

  <div class="filters-group">
    {% if params.job_id is not None %}
    <div>
      <label>Job:</label>
      <span class="chip">
        {{ params.job_id }}
        <button class="btn btn-clear btn-clear-job-filter" aria-label="Close" role="button"></button>
      </span>
    </div>
    {% endif %}

    <div>
      <label>Status:</label>
      <div class="btn-group status-filter">
        {% for status in DjangoJobExecution.STATUSES %}
        <button class="btn btn-sm {% if status in params_statuses %}active{% endif %}">{{ status }}</button>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="pjax-container">
  {% include "_executions_table.html" with object_list=object_list %}

  {% url 'executions' as base_url %}
  {% include "_pagination.html" with page_obj=page_obj page_range=page_range base_url=base_url %}
</section>
{% endblock %}

{% block body_end %}
<script src="{% static "lib/pjax-standalone.min.js" %}"></script>

{% include "_event_drops.html" %}
<script>
  (function () {
    // pjax
    var pjax = new Pjax({
      elements: '.pagination a',
      selectors: ['.pjax-container'],
      // cacheBust: false,
    });

    // status filter
    delegate('.btn', 'click', (e) => {
        const status = e.delegateTarget.textContent;
        const params = new URLSearchParams(window.location.search);

        // toggle status from params
        const paramsStatus = params.getAll('status')
        if (paramsStatus.includes(status)) {
          params.delete('status', status)
        } else {
          params.append('status', status)
        }
        TAKO.setSearchParams(params)

    }, {
      base: document.querySelector('.status-filter')
    })

    // clear job filter
    delegate('.btn-clear-job-filter', 'click', (e) => {
      const params = new URLSearchParams(window.location.search);
      params.delete('job_id')
      TAKO.setSearchParams(params)
    }, {
      base: document.querySelector('.filters-group')
    })
  })();
</script>
{% endblock %}
