{% extends "base.html" %}
{% load tako_filters %}

{% block head %}
{% endblock %}

{% block main %}
<h1>Jobs</h1>

<section class="container">
  <div class="filters-group">
    <div>
      <label>Associated with Task:</label>
      <select class="form-select select-sm select-with-task" style="min-width: 100px;">
        {% for v, t in with_task_choices %}
        <option value="{{ v }}" {% if v == params.with_task %}selected{% endif %}>{{ t }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</section>

<section>
  <table class="table">
  {% if object_list %}
    <thead>
      <th style="width: 5em;">ID</th>
      <th>Task</th>
      <th>Trigger</th>
      <th style="width: 15em;">Next run time</th>
      {% if request.user.is_superuser %}
        <th style="width: 5em;">Actions</th>
      {% endif %}
    </thead>
  {% endif %}
    <tbody>
    {% for obj in object_list %}
      {% with aps_job=obj.aps_job %}
      <tr>
        <td><a href="{% url 'jobs_detail' obj.id %}" class="number-font">{{ obj.id }}</a></td>
        <td>
          {% if obj.task %}
            <a href="{% url 'tasks_detail' obj.task.id %}">
              {{ obj.task.name }}
            </a>
          {% endif %}
        </td>
        <td>
          <code>{{ aps_job.trigger }}</code>
        </td>
        <td><span class="number-font">{{ obj.next_run_time|iso_time }}</span></td>

        <td>
          <div style="display: flex; gap: 16px;">
            <button
              class="btn btn-sm tooltip tooltip-left btn-filter-job"
              data-nav-executions="true"
              data-tooltip="Filter executions by this job"
              data-job-id="{{obj.id}}"
            >
              <i class="icon icon-flag"></i>
            </button>

            {% if request.user.is_superuser %}
            <button
              class="btn btn-sm tooltip tooltip-left btn-execute-job"
              data-tooltip="Execute job now"
              data-job-id="{{obj.job.id}}"
            >
              <i class="icon icon-refresh"></i>
            </button>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endwith %}

      {% empty %}
      <tr>No jobs yet.</tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}

{% block body_end %}
<script>
  delegate('.select-with-task', 'change', (e) => {
    const value = e.delegateTarget.value;
    const params = new URLSearchParams(window.location.search);
    if (value === "") {
      params.delete('with_task')
    } else {
      params.set('with_task', value)
    }
    TAKO.setSearchParams(params)
  })
</script>
{% endblock %}
