{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block main %}
<h1>Tasks</h1>

<section>
  <table class="table">
  {% if object_list %}
    <thead>
      <th style="width: 5em;">ID</th>
      <th>Name</th>
      <th>Script</th>
      <th>Job</th>
      <th>Trigger Type</th>
      <th>Trigger Args</th>
      <th style="width: 15em;">Created At</th>
      <th style="width: 15em;">Updated At</th>
      <th style="width: 5em;">Actions</th>
    </thead>
  {% endif %}
    <tbody>
    {% for obj in object_list %}
      <tr>
        <td>{{ obj.id }}</td>
        <td>
          <a href="{{ url('tasks_detail', obj.id) }}">{{ obj.name }}</a>
        </td>
        <td>
          <a href="{{ url('scripts_detail', obj.script.id) }}">
            {{ obj.script.filename }}
          </a>
        </td>
        <td>
          {% if obj.job %}
            <a href="{{ url('jobs_detail', obj.job.id) }}">
              {{ obj.job.id }}
            </a>
          {% endif %}
        </td>
        <td>
          {{ obj.trigger_type }}
        </td>
        <td>
          {{ obj.trigger_value }}
        </td>
        <td><span class="code-font">{{ obj.created_at|iso_time }}</span></td>
        <td><span class="code-font">{{ obj.updated_at|iso_time }}</span></td>

        {% if request.user.is_superuser %}
        <td>
          <div style="display: flex; gap: 16px;">
            <button
              class="btn btn-sm tooltip tooltip-left btn-filter-job"
              data-nav-executions="true"
              data-tooltip="Filter executions by this job"
              data-job-id="{{obj.job.id}}"
            >
              <i class="icon icon-flag"></i>
            </button>
            <button
              class="btn btn-sm tooltip tooltip-left btn-execute-job"
              data-tooltip="Execute job now"
              data-job-id="{{obj.job.id}}"
            >
              <i class="icon icon-refresh"></i>
            </button>
          </div>
        </td>
        {% endif %}
      </tr>

    {% else %}
      <tr>No tasks yet.</tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}

{% block body_end %}
{% endblock %}
