{% extends "base.html" %}

{% block head %}
<style>
  .trigger-args input[value]:not([value=""]) {
    background-color: #f0f0f0;
  }
</style>
{% endblock %}

{% import "_detail_macros.html" as macros %}
{% block main %}

  <h1>
    {% if is_create %}
      Create Task
    {% else %}
      Edit Task
    {% endif %}
  </h1>

  <section>
    <form class="form-horizontal edit-form" style="max-width: 800px;">
      <input type="hidden" name="id" value="{{ object.id|default('') }}">

      {{ macros.input_group('Name', 'name', object) }}

      {% call(name) macros.input_group('Script', 'script_id', object) %}
        <select class="form-select" name="{{ name }}" required>
          <option value="" {% if not object %}selected{% endif %}>---</option>
          {% for script in scripts %}
          <option value="{{ script.id }}" {% if script.id == object.script_id %}selected{% endif %}>{{ script.filename }}</option>
          {% endfor %}
        </select>
        <button class="btn btn-edit-script" style="margin-left: 8px;" {{ ternary(object.script_id, '', 'disabled') }}>Edit Script</button>
        <a href="{{ url('scripts_create') }}" class="btn" style="margin-left: 8px;">Create Scripts</a>
      {% endcall %}

      {{ macros.input_group('Script Args', 'script_args', object) }}

      {% call(name) macros.input_group('Trigger Type', 'trigger_type', object) %}
        <select class="form-select" name="{{ name }}" required>
          <option value="" {% if not object %}selected{% endif %}>---</option>
          {% for k, v in TriggerType.items() %}
          <option value="{{ v }}" {% if v == object.trigger_type %}selected{% endif %}>{{ k }}</option>
          {% endfor %}
        </select>
      {% endcall %}

      <!-- <hr style="margin: 12px 0; height: 0; border: 0; border-bottom: 1px solid #ccc;"> -->

      {% call(name) macros.input_group('Trigger Args', 'trigger_value', object) %}
        <div
          class="trigger-args"
          style="display: {{ ternary(object, 'none', 'block') }};"
        >Please select trigger type first</div>
        {% for trigger_type, dt_cls in trigger_dt_map.items() %}
          {% set key_prefix = name + '.' + trigger_type + '.' %}
          <div
            class="trigger-args"
            data-trigger-type="{{ trigger_type }}"
            style="
              display: {{ ternary(trigger_type == object.trigger_type, 'grid', 'none') }};
              grid-template-columns: repeat(2, minmax(0, 1fr));
              gap: 8px;
              width: 100%;
            "
          >
            {% for key, property in dt_cls.schema()['properties'].items() %}
              {{ macros.compact_input(key, key_prefix + key, object.trigger_value or {}, key) }}
            {% endfor %}
          </div>
        {% endfor %}
      {% endcall %}

      <div class="form-errors" style="display: none;"></div>

      <div class="detail-actions">
        <button
          class="btn btn-primary"
          type="submit"
        >
          Save
        </button>

        {% if not is_create %}
        <div style="flex-grow: 1"></div>
        <button
          class="btn btn-error btn-delete-task"
          data-task-id="{{object.id}}"
          type="button"
        >
          Delete
        </button>
        {% endif %}
      </div>
    </form>
  </section>
{% endblock %}

{% block body_end %}
<script>
  delegate('select[name=trigger_type]', 'change', (e) => {
    // console.log('on trigger type change', e.delegateTarget)
    const value = e.delegateTarget.value
    document.querySelectorAll('.trigger-args').forEach((el) => {
      const triggerType = el.dataset.triggerType || ''
      el.style.display = triggerType === value ? 'grid' : 'none'
    })
  })

  delegate('select[name=script_id]', 'change', (e) => {
    const value = e.delegateTarget.value
    const btn = document.querySelector('.btn-edit-script')
    if (value) {
      btn.removeAttribute('disabled')
      btn.dataset.scriptId = value
    } else {
      btn.setAttribute('disabled', '')
    }
  })

  delegate('.btn-edit-script', 'click', (e) => {
    const scriptId = e.delegateTarget.dataset.scriptId
    if (!scriptId) {
      return
    }
    window.location.href = '{{ url("scripts_edit", 1) }}'.replace('1', scriptId)
  })

  delegate('.edit-form', 'submit', (e) => {
    e.preventDefault()
    const formData = new FormData(e.delegateTarget)
    // console.log('on form submit', formData, Object.fromEntries(formData))
    const rawObj = Object.fromEntries(formData)
    const data = {}

    // construct trigger value
    const triggerValue = {}
    for (const [key, value] of formData) {
      if (key === 'id') {
        if (value) {
          console.log('id value', value)
          data[key] = parseInt(value)
        }
      } else if (key === 'script_id') {
        data[key] = parseInt(value)
      } else if (key.startsWith('trigger_value.')) {
        const [_, trigger_type, subkey] = key.split('.')
        if (trigger_type == rawObj.trigger_type && value) {
          triggerValue[subkey] = value
        }
      } else {
        data[key] = value
      }
    }

    data.trigger_value = triggerValue

    console.log('submitting', data)

    const is_create = '{{ is_create }}' === 'True'
    const url = is_create ? TAKO.urls.apiTasksCreate : TAKO.urls.apiTasksUpdate

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    }).then((res) => {
      if (res.ok) {
        TAKO.showToast('Task saved', 'success')
        setTimeout(() => {
          window.location.href = '{{ url("tasks") }}'
        }, 1000)
      } else {
        res.json().then((data) => {
          TAKO.showToast('Failed to save task', 'error')
          TAKO.showFormErrors(data.errors)
        })
      }
    })
  })

  delegate('.btn-delete-task', 'click', (e) => {
    if (!confirm('Are you sure to delete this task?')) {
      return
    }
    fetch(TAKO.urls.apiTasksDelete, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({id: e.delegateTarget.dataset.taskId}),
    }).then((res) => {
      if (res.ok) {
        TAKO.showToast('Task deleted', 'success')
        setTimeout(() => {
          window.location.href = '{{ url("tasks") }}'
        }, 2000)
      } else {
        res.json().then((data) => {
          TAKO.showToast('Failed to delete task', 'error')
          alert('Failed to delete task: ' + data.errors.join(', '))
        })
      }
    })
  })
</script>
{% endblock %}
